<h2>Editor</h2>

<label for="date">
  <span>Date</span>
  <input type="date" id="date" name="date" />
</label>

<div>Status</div>

<label for="happy">
  <input type="checkbox" id="happy" name="mood" value=":)" />
  <span>:)</span>
</label>

<label for="sad">
  <input type="checkbox" id="sad" name="mood" value=":(" />
  <span>:(</span>
</label>

<label for="message">
  <span>Message</span>
  <input type="text" id="message" name="message" placeholder="Why are you happy today?" />
</label>

<button type="button">
  <a routerLink="/calendar">Save</a>
</button>

<button type="button">
  <a routerLink="/calendar">Cancel</a>
</button>
