<h2>Editor</h2>

<label for="date">
  <span>Fecha</span>
  <input type="date" id="date" name="date" />
</label>

<div>Estado</div>

<label for="happy">
  <input type="checkbox" id="happy" name="mood" value=":)" />
  <span>:)</span>
</label>

<label for="sad">
  <input type="checkbox" id="sad" name="mood" value=":(" />
  <span>:(</span>
</label>

<label for="message">
  <span>Mensaje</span>
  <input type="text" id="message" name="message" placeholder="¿Por qué es un buen día?" />
</label>

<button type="button">Guardar</button>

<button type="button">Cancelar</button>
