.app__header {
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: rgba(24, 160, 85, 0.877);
  color: white;
  position: fixed;
  top: 0;
}

.app__title {
  margin: 0;
  font-size: 40px;
}

.app__main {
  margin-top: 100px;
}
